 @font-face {
     font-family: 'LuckiestGuy';
     src: url('img/5.Font/LuckiestGuy-Regular.ttf') format('truetype');  
 }

 body {
     margin: 0;
     font-family: 'LuckiestGuy', Arial, Helvetica, sans-serif;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     background-image: url('img/3. Background/Dark/completo.png');
     background-position: center;
 }

 canvas {
     background-color: black;
 }

 h1 {
     font-size: 64px;
     text-shadow: 4px 2px 8px rgb(255, 232, 232);

 }

 .dnone{
    display: none;
 }

 img{
    width: 40%;
 }