 @font-face {
     font-family: 'LuckiestGuy';
     src: url('img/5.Font/LuckiestGuy-Regular.ttf') format('truetype');
 }

 body {
     margin: 20;
     font-family: 'LuckiestGuy', Arial, Helvetica, sans-serif;
     flex-direction: column;
     background-image: url('img/3. Background/Dark/completo.png');
     background-position: center;
     background-repeat: no-repeat;
     background-size: 630vh; 
 }

 canvas {
     background-color: black;
     display: block;
 }

 h1 {
     font-size: 5vw;
     text-shadow: 4px 2px 8px rgb(255, 232, 232);
         margin-block-start: 20px;
    margin-block-end: 20px;
 }

 .dnone {
     display: none !important;
 }

 .icon-style-settings {
     width: 12%;
 }

 .icon-style-start {
     width: 25%;
 }

 .icon-style-Feedback {
     width: 14%;
 }

 .animation {
     cursor: pointer;
     display: inline-block;
     transition: transform 0.2s ease-out;
 }

 .animation:hover {
     transform: translateY(-10px);
 }

 .flex-center-space {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }

 .flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .overlay-div{
    position: absolute;
    bottom: 300px;
    max-width: 80%;
 }

 .overlay-style {
    max-width: 500px;
    padding: 10px;
     background-color:#170f65;
     border: 3px solid #FCEE21;
     border-radius: 17px;
    text-align: center;
 }

 .overlay-img{
    width: 40%;
 }

 .overlay-img-Move{
    width: 50%;
 }

 .overlay-img-attack{
    width: 40%;
 }

 .spacing{
    padding-top: 20px;
    gap: 20px;
 }

 .max-width{
    max-width: 40%;
 }

p{
    color: white;
}

.padding-bottom-20px{
    padding-bottom: 20px;
}

 @keyframes bounceDown {
     0% {
         transform: translateY(-10px);
     }

     50% {
         transform: translateY(10px);
     }

     70% {
         transform: translateY(-5px);
     }

     100% {
         transform: translateY(0);
     }
 }


 @media only screen and (max-width: 720px) {
     canvas {
         width: 100%;
     }
 }

 @media only screen and (max-height: 480px) {
     canvas {
         height: 100vh;
     }
 }